<h1>Crear Electrodoméstico</h1>
<h2>Larga Duracion</h2>
<form action='/appliance/create' method='POST'>
  <input type="hidden" name="_csrf" value={{csrfToken}}>

  <input type="hidden" name="longDuration" value="true">
  <label for='typeAppliance'> Tipo de Electrodoméstico</label>
  <select name='type'>
    {{! MOSTRAREMOS LOS TIPOS QUE HAY DE LARGA DURACION. }}
    {{#each consumTypeL.type}}
      <option value={{this._id}}>{{this.name}}</option>
    {{/each}}
  </select>
  <label for='typeConsum'>Categoria energetica</label>
  <select name='consum'>
    {{! MOSTRAREMOS LOS TIPOS QUE HAY DE LARGA DURACION. }}
    {{#each consumTypeL.consums}}
      <option value={{this._id}}>{{this.name}}</option>
    {{/each}}
  </select>
  <label for="">Nombre personalizado:</label>
  <input type="text" name="name">
  <button type='submit'> Crear</button>
  <button type='reset'>Borrar Datos</button>

</form>
<br>
<hr>
<br>
<h2>Corta Duracion</h2>
<form action='/appliance/create' method='POST'>
  <input type="hidden" name="_csrf" value={{csrfToken}}>
  <input type="hidden" name="longDuration" value="false">

  <label for='typeAppliance'> Tipo de Electrodoméstico</label>
  <select name='type'>
    {{! MOSTRAREMOS LOS TIPOS QUE HAY DE LARGA DURACION. }}
    {{#each consumTypeS.type}}
      <option value={{this._id}}>{{this.name}}</option>
    {{/each}}
  </select>

  <label for='typeConsum'>Categoria energetica</label>
  <select name='consum'>
    {{! MOSTRAREMOS LOS TIPOS QUE HAY DE LARGA DURACION. }}
    {{#each consumTypeS.consums}}
      <option value={{this._id}}>{{this.name}}</option>
    {{/each}}
  </select>
  <label for="">Nombre personalizado:</label>
  <input type="text" name="name">
  <button type='submit'> Crear</button>
  <button type='reset'>Borrar Datos</button>

</form>