<h2>Detalles del electrodoméstico</h2>

<div>
  <table>
    <tr>
      <th>Tipo </th>
      <th>Consumo </th>
      <th>Gatos Acumulado</th>
      <th>Creación </th>
      <th> </th>
    </tr>

    <tr>
      <td>{{appliance.type}}</td>
      <td>{{appliance.consum}}</td>
      <td>{{appliance.totalCost}}</td>
      <td>{{appliance.created}}</td>
      <td>
        <form action='/appliance/{{appliance.id}}/delete' method='DELETE'>
          <button type='submit'>Borrar</button>
        </form>
        {{! nos dará la vista para luego modificarla }}
        <form action='/appliance/{{appliance.id}}/edit' method='GET'>
          <button type='submit'>Editar</button>
        </form>
      </td>
    </tr>

  </table>

</div>