<h2>Detalles del electrodoméstico</h2>

<div>
  {{! nos dará la vista para luego modificarla }}
  <form action='/appliance/{{appliance.id}}/update' method='POST'>
    <input type="hidden" name="_csrf" value={{csrfToken}}>

    <label for="">Tipo Electrodomestico</label>
    <input type="text" value={{appliance.type.name}} readonly> </input>
    <label for="">Etiqueta Energética</label>
      <select name='consum'>
        <option selected hidden value={{appliance.consum._id}}>{{appliance.consum.name}}</option>
        {{#each consumArr}}
          <option value={{this._id}}>{{this.name}}</option>
        {{/each}}
      </select>
    <button type='submit'>guardar</button>
  </form>
</div>