<h2> Lista de tus electrodomesticos</h2>
<div class='appliance__list'>
  <table>
    <tr>
      <th>Nombre</th>
      <th>Tipo</th>
      <th>Potencia (Mw)</th>
      <th>Etiqueta energética</th>
      <th>Multiplicador consumo</th>
      <th>Gastos Acumulado (€)</th>
      <th>Creación </th>
      <th>Editar</th>
      <th>Eliminar</th>
    </tr>
    {{#each appliances}}
      <tr>
      <form action="/appliance/{{this._id}}/delete" method="POST">
        <td>{{this.name}}</td>
        <td>{{this.type.name}}</td>
        <td>
          {{this.type.power.[1]}}
        </td>
        <td>
          {{this.consum.name}}
        </td>
        <td>{{this.consum.budget}} ({{this.consum.name}})</td>
        <td>{{this.totalCost}}</td>
        <td>{{this.createdAt}}</td>
        <td>
            <a href="/appliance/{{this._id}}/update"> <i
              class='fa fa-pencil'
              aria-hidden='true'
              ></i></a>

        </td>
        <td>
          <button class="actionBtn" type="submit">
            <a href="">
              <i
              class='fa fa-trash'
              aria-hidden='true'
              ></i>

            </a>
            </button>
        </td>
      </form>
      </tr>

    {{/each}}
  </table>
</div>